.service-assignment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    width: 100%;
}

.patient-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    min-height: 400px;
}

.service-assignment-step {
    display: flex;
    flex-direction: column;
    width: 800px;
    justify-content: center;
    margin: 0 auto;
}

.service-assignment__list {
    max-height: 400px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 5px;
}

.service-assignment__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.service-assignment__item > div {
    width: 70%;
}

.booking-step {
    display: flex;
    flex-direction: column;
    width: 800px;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}

#booking-date-input {
    width: 400px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-left: 200px;
}

.schedule-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}