APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=laravel
DB_USERNAME=laravel
DB_PASSWORD=secret

CLOUDINARY_URL=cloudinary://966512154512916:Jw1Fj-UJVIegxzwIyEOXm46s9CM@dftiye2et
CLOUDINARY_CLOUD_NAME=dftiye2et
CLOUDINARY_API_KEY=966512154512916
CLOUDINARY_API_SECRET=Jw1Fj-UJVIegxzwIyEOXm46s9CM
CLOUDINARY_UPLOAD_PRESET=vegdhgfp
CLOUDINARY_NOTIFICATION_URL=

BROADCAST_DRIVER=reverb
REVERB_APP_ID=277947
REVERB_APP_KEY=lv8mlkmwpdv5ohazsxhr
REVERB_APP_SECRET=6dqrb7xbirvwdnxs5ltd
REVERB_HOST="localhost"
REVERB_PORT=8080
REVERB_SCHEME=http

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="Docify"

PUSHER_APP_ID=1950430
PUSHER_APP_KEY=d9c184afb3717502398b
PUSHER_APP_SECRET=fcad50406c3d2c82434b
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=ap1

OPENAI_API_KEY=...