#health-profiles-section {
    min-height: 80vh;
    padding: 20px;
}

.insurance-number {
    border: none;
    background-color: transparent;
    font-size: 0.75rem;
    font-weight: 500;
    width: 70px;
}

.insurance-number[type="text"] {
    width: 110px;
}

.insurance-number:focus {
    outline: none;
}


/* health profile detail */
.health-profile-detail {
    padding: 20px;
}

.main-content {
    width: 75%;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(173, 216, 230, 0.7);
    min-height: 500px;
}

.basic-infor-section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(173, 216, 230, 0.7);
    padding: 10px 20px;
    width: 25%;
}

.health-profile-history {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    max-height: 90vh;
}

.record-list {
    overflow-y: scroll;
}

.health-examination-record {
    background-color: #BBDEFB;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px rgba(173, 216, 230, 0.7);
}

.record-filter {
    margin: 10px;
    width: 100%;
    display: flex;
    background-color: #F0F0F0;
    border-radius: 5px;
    padding: 5px;
}

.record-filter > button {
    flex-grow: 1;
    padding: 10px;
    background-color: transparent;
    border: none;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}

.record-filter > button:hover {
    background-color: white;
}

.filter-active {
    background-color: #007bff !important;
    color: white;
}

#profile-edit-section {
    margin: 20px;
}

.profile-edit-card {
    position: relative;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(173, 216, 230, 0.7);
    padding-bottom: 20px;
}

.profile-edit-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.health-profiles-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.new-profile-card {
    width: 27%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(173, 216, 230, 0.7);
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.new-profile-card:hover {
    box-shadow: 0px 0px 10px rgba(173, 216, 230, 1);
    transform: translateY(-2px);
}

.new-profile-card-header {
    background: linear-gradient(135deg, rgb(24, 144, 255) 0%, rgb(9, 109, 217));
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    padding: 10px;
    color: white;
    position: relative;
}