#home-page {
  padding: 40px 20px;
  overflow-x: hidden;
}

#welcome {
  width: 100%;
}

#welcome h1 {
  color: var(--gray-text);
  margin-bottom: 20px;
}

#welcome-booking {
  width: 100%;
  height: fit-content;
  background: linear-gradient(135deg, #00b5e2, #007bff);
  border-radius: 20px;
  position: relative;
  color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(173, 216, 230, 0.5);
}

#welcome-booking h3 {
  color: white;
  width: 70%;
  margin-bottom: 20px;
}

#welcome-booking p {
  width: 65%;
  line-height: 1.4;
  margin-bottom: 14px;
}

#welcome-booking button {
  background-color: #ff9d3d;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

#welcome-booking button:hover {
  background-color: #f8f8f8;
  color: #ff9d3d;
}

#welcome-booking img {
  position: absolute;
  right: 5%;
  bottom: 0;
  width: 42%;
}

#appointment-quick-view {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  height: fit-content;
  width: 33%;
  box-shadow: 0 4px 8px rgba(173, 216, 230, 0.5);
}

#appoinment-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.appoinment-info {
  flex-grow: 1;
}

.appoinment-info > h4 {
  margin-bottom: 0;
}

.appoinment-info > div {
  font-size: small;
}

#featured-services {
  margin-top: 20px;
}

#services-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.service-card {
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(173, 216, 230, 0.3);
  padding: 5px;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-card:hover > div > h4 {
  color: var(--primary-color);
}

.service-card img {
  width: 160px;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.service-card > div > span {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: red;
  color: white;
  font-size: 11px;
  font-weight: 700;
  padding: 3px;
  border-radius: 8px;
}

#slider {
  width: 100%;
  margin-top: 30px;
}

.slick-track {
  width: 100%;
  display: flex;
}

.slick-list {
  overflow: hidden; /* Prevent overflow */
}

.slider-img > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(173, 216, 230, 0.5);
}

#news {
  margin-top: 40px;
  width: 65%;
}

#highlight-news {
  width: 100%;
  padding: 20px;
  background-color: #e2f3ff;
  border-radius: 5px;
}

#first-new {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#first-new img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

#sub-news-list {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 50%;
}

.sub-news div {
  width: 40%;
  height: 100px;
  overflow: hidden;
  border-radius: 5px;
}

.sub-news div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.sub-news:hover div img {
  transform: scale(1.1);
}

.sub-news {
  display: flex;
  justify-content: space-between;
  align-items: start;
  cursor: pointer;
}

.sub-news:hover .news-title {
  color: #3180d4;
}

.news-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-title + p {
  color: gray;
  font-weight: 500;
  font-size: 14px;
  margin-top: 5px;
}

#facility-list {
  width: 32%;
  margin-top: 40px;
}

.facility-card {
  background-color: white;
  border-radius: 5px;
  height: 120px;
  box-shadow: 0 4px 8px rgba(173, 216, 230, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.facility-card > div {
  padding: 0px 10px;
}

.facility-card > img {
  width: 40%;
  height: 100%;
  object-fit: cover;
}

.facility-vertical-card {
  flex-direction: column;
  display: flex;
  gap: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(173, 216, 230, 0.5);
}

.facility-vertical-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin: 0 auto;
  padding-top: 10px;
}

.facility-vertical-card h3 {
  width: 80%;
  margin: 1rem 0;
}

.facility-vertical-card p {
  font-size: 0.9rem;
  display: flex;
  gap: 3px;
  align-items: start;
}

.facility-vertical-card a:nth-of-type(1) {
  border: 1px solid #007bff;
  color: #007bff;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.facility-vertical-card a:nth-of-type(1):hover {
  background-color: lightgray;
}

.facility-vertical-card a:nth-of-type(2) {
  background-color: #007bff;
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.facility-vertical-card a:nth-of-type(2):hover {
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
}

@media (max-width: 1024px) {
  #home-content {
    flex-direction: column;
  }

  .col-6 {
    width: 100%;
  }
  #appointment-quick-view {
    width: 100%;
  }
  .facility-card {
    flex-direction: column;
  }

  .facility-card img {
    width: 100%;
    height: 50px;
  }
}
