* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'QuickSand', sans-serif !important;
}

body {
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  color: #444;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}